# Env, libs
src/data

Alpha/MACharts

# Output
src/output

# Byte-compiled / optimized / DLL files
__pycache__/
__pypackages__/

# Virtual Environments
.env
.venv
env/
venv/

# Config files
# config.ini